<!-- <app-parent-color></app-parent-color> -->
<!-- <app-parent></app-parent> -->
<!-- <nav>
    <ul>
        <li>
            <a [routerLink]="['company']" routerLinkActive="active">Company</a>
        </li>
        <li>
            <a [routerLink]="['person']" routerLinkActive="active">person</a>
        </li>
        <li>
            <a [routerLink]="['contactus']" routerLinkActive="active">contact US</a>
        </li>
    </ul>
</nav> -->
<!-- <h1>Welcome to {{title}}</h1><br>
<h2>My name is Khan</h2> -->
<!-- <router-outlet></router-outlet> -->
<app-cookie></app-cookie>